#mainFooter{
    background-color: color("double-dragon-skin");
    height: $footerHeight;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p, a{
        color: color("light-blue-ballerina");
    }
    a{
        margin-left: 1em;
    }
}