body{
    font-family: $body-font;
    font: {
        size: map-get($font-sizes , "md" );
    };
    color: color("imperial-primer");
    background-color: color("storm-petrel");
    min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}
a{
    display: block;
    text-decoration: none;
    color: color("imperial-primer");
    background-color: transparent;
}
p{
    color: color("imperial-primer");
}
#pageContent{
    margin-top: $headerHeight;
    background-image: url("../img/image-1.jpg");
    padding: 100px 20px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


